<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Google Maps</Name><AddInID>{90f9d972-78fb-44a4-81ae-627657c2095a}</AddInID><Description>Open Google Street View</Description><Version>1.0</Version><Image /><Author>CS</Author><Company>None</Company><Date>05/16/2018</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="GoogleMaps_addin.py" namespace="GoogleMaps_addin"><ArcMap>
    <Commands>
        <Tool caption="Google Street View" category="Google Maps" class="GoogleStreetViewClass" id="GoogleMaps_addin.tool" image="Images\GoogleMaps.png" message="Click on map with tool to open google street view at location (if it exists)" tip="Open Street View at cursor click"><Help heading="" /></Tool>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Google Street View" category="Google Maps" id="GoogleMaps_addin.toolbar" showInitially="true"><Items><Tool refID="GoogleMaps_addin.tool" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>